//serious copy pasta from w3cschool
$success: rgb(11, 191, 56);
$warning: rgb(232, 134, 3);


.toast {
  visibility: hidden; /* Hidden by default. Visible on click */
  width: 250px; /* Set a default minimum width */
  margin: 0 -125px;
  text-align: center; /* Centered text */
  border-radius: 4px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  bottom: 30px; /* 30px from the bottom */
  left: 50%;
}

#online {
  background: $success;
}

#offline {
  background: $warning;
}

#online.show {
  visibility: visible;
  animation: fadein 0.2s, fadeout 0.2s 1s;
}

#offline.show {
  visibility: visible;
  animation: fadein 0.2s;
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
