@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html, body {
  overflow-x: hidden;
  font-family: 'Comfortaa', cursive;
}

body {
  position: relative;
  margin: 0;
}

.page {
  vertical-align: top;
  margin: 0;
  height: calc(var(--vh, 1vh) * 100);
}
